
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlanJob</title>
</head>
<body>
    <div> 
        <p>order ingepland</p>
        <p>@ViewBag.RowsAffected lijnen aangepast</p>
    </div>
</body>
</html>
